@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500;1,700&display=swap');


* {
    color: white;
    font-family: 'Raleway';
}

body{
    background-color: rgb(0, 0, 0);
    min-height: 300px;
}

.title{
    margin: auto;
}

c-navbar{
    background-color: rgb(216, 0, 72);
}

@media screen and (max-width: 992px) {
    .english::before{
        content: 'English';
        font-weight: 300;
        font-size: 35px;
        padding-left: 15px;     
    }
}

@media screen and (min-width: 992px) {
    .english::after{
        content: 'English';
        font-weight: 300;
        font-size: 35px;
        padding-left: 15px;
        margin: auto;
    }
}